.section {
    background: url('/assets/images/your_verse_hero.jpg') no-repeat;
    background-position-y: 100%;
    background-position-x: 30%;
    width: 100%;
    min-height: 710px;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.section-content {
    position: absolute;
    left: 17%;
    top: 30%;
}

.promos {
    display: flex;
    width: 100%;
    flex: 1;
}

.promos img {
    width: 25%;
}