body {
    background-color: goldenrod;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
}

nav {
    
    overflow: hidden;
}

nav ul{
    list-style-type: none;
    display: flex;
    border-radius: 7px;
    height: 35px;
    width: 100%;
    padding: 0;
    background: linear-gradient(0deg, #777 0%, #777 50%, #888 50%, #888 100%);
}

nav ul li {
    border-right: 1px solid #666;
    align-self: center;
}

nav ul li a {
    display: block;
    min-width: 100px;
    height: 35px;
    background-image: url('https://images.apple.com/global/nav/images/globalnav_text.png');
}

@for $i from 0 to 9 {
    nav ul li:nth-child(#{$i}) {
        flex: 1;
        max-width: 105px;

        a {
            background-position: -30px #{($i - 1)*-30px+3px};
        }
    }
}

nav ul li:last-child {
    height: 100%;
    text-align: center;
    padding: 0 1em;
    position: relative;
    margin: 0;
    border-right: none;

    input {
        transform-origin: right;
        margin-top: .7em;
        width: 110px;
        border-radius: 8px;
        border: none;
        float:right;
        background-color: rgba(210, 210, 210, 0.7);
        transition-duration: .3s;
    }

    input:focus {
        flex: 1;
        width: 160px;
        background-color: rgb(255, 255, 255);
    }

}
