body {
    background-color: goldenrod;
}
nav {
    
    height: 60px;
    width: 100%;
    background: linear-gradient(90deg, #AAAAAA 10%, #AAAAAA 50%, #CCCCCC 100%);
}
nav ul{
    list-style-type: none;
}

nav ul li {
}

nav ul li a {
    display: inline-block;
    width: 150px;
    height: 30px;
    background-image: url('https://images.apple.com/global/nav/images/globalnav_text.png');
}

nav ul li:nth-child(2) a {
    background-position-y: 30px;
}